
<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

	<title>MySite: <%= controller.action_name %></title>
	<meta name="description" content="">
	<meta name="author" content="">

	<meta name="viewport" content="width=device-width,initial-scale=1">

	<%= stylesheet_link_tag "style" %>

	<script src="js/libs/modernizr-2.0.min.js"></script>
	<script src="js/libs/respond.min.js"></script>
</head>
<body>
	<div id="header-container">
		<header class="wrapper">
			<h1 id="title">Galindo 2.0</h1>
			<nav>
				<ul>
					<li><%= link_to "Blog", posts_path %></li>
					<li><a href="#">navigation</a></li>
					<li><a href="#">links</a></li>
				</ul>
			</nav>
		</header>
	</div>
	<div id="main" class="wrapper">
		<aside>
			<h3>Building this Site from Scratch*</h3>
		<a href="http://railsforzombies.org/"><img src="/images/einstien.png" alt="Rails for Zombies" /></a>		
	</aside>
		<article>
			<header>
				<h2>The results of hardwork, late nights, and early mornings. enjoy.</h2>
			
			<p>	<%= yield %>
			</p>
			</header>
	
			<h3>Demo</h3>
				<p>Hopefully by the time I am Galindo 2.0 is completed, we will have a dynamic site. I am also thinking of a demo or portfolio section to showcase different scenarios</p>	
		<footer>
			<h3>About the author</h3>
				<p>I have always had a knack for problem solving. Puzzles, patterns, numbers...ahh many nights I have spent with just these as entertainment. Nevertheless, I sumpled upon computers at around 13. I have never taken a computer science class, heck I never even heard the term "computer science" until recently. Anyhow, all the computer programing and web design I have learned is through self education. I hope you enjoy my journey. Any feedback is greatly appreciated.</p>
			</footer>
		</article>
	</div>
	<div id="footer-container">
		<footer class="wrapper">
			<h3>Thank You:</h3>
				<a href="http://railsforzombies.org/"><img src="/images/rail-zombie.png" alt="Rails for Zombies" /></a> 
				<a href="http://rubyonrails.org/"><img src="/images/rails4.png" alt="Ruby on Rails" /></a> 
		</footer>
	</div>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="js/libs/jquery-1.6.2.min.js"><\/script>')</script>

<script src="js/script.js"></script>
<script>
	var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']]; // Change UA-XXXXX-X to be your site's ID
	(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.async=1;
	g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
	s.parentNode.insertBefore(g,s)}(document,'script'));
</script>

<!--[if lt IE 7 ]>
	<script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.2/CFInstall.min.js"></script>
	<script>window.attachEvent("onload",function(){CFInstall.check({mode:"overlay"})})</script>
<![endif]-->

</body>
</html>
