
			
			<p><h1>Welcome to my site.</h1>
			<p>Where I am building a website out of the rails framework. Join me in my struggles. Look at the blog for daily updates. I hope you enjoy. Any comments regarding rails and practical implementations are greatly appreciated.</p>
			<%= link_to "My Blog", posts_path %>
			</p>
			
			<p>Let's see if git updates this line</p>
		
